.titulo{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: Arial;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
}